---
personal_site_url: http://coltontbrown.com
project_name: ice-js
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/fonts/index.css">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/normal.css">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/style.css">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/prism/prism.css">
</head>
<body>

  <div class="container">
    <div class="project-pg-header">
      <a class="name" href="{{page.personal_site_url}}">
        COLTON BROWN
      </a>
      <span class="projects">
        <a href="{{page.personal_site_url}}/projects">projects</a>
        / <span class="project-name">{{page.project_name}}</span>
      </span>
    </div>
    {{content}}
  </div>

  <div class="footer">
    &copy; 2015 Colton Brown
  </div>

  <script type="text/javascript" src="{{page.personal_site_url}}/prism/prism.js"></script>

</body>
</html>