---
personal_site_url: http://test.coltontbrown.com:8080
project_name: ice-js
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/fonts/index.css">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/normal.css">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/style.css">
  <link rel="stylesheet" type="text/css" href="{{page.personal_site_url}}/prism/prism.css">
  <style type="text/css">
    .docs h2{
      border-bottom: 1px solid #ddd;
      padding-bottom: 6px;
    }
    .docs p{
      margin: 0.5em 1em;
    }
    .docs h5{
      margin-left: 1em;
    }
    .docs :not(pre) > pre[class*="language-"], 
    .docs pre > code[class*="language-"]{
      margin-left: 1em;
    }
  </style>
</head>
<body>

  <div class="container docs">

    <div class="project-pg-header">
      <a class="name" href="{{page.personal_site_url}}">
        COLTON BROWN
      </a>
      <span class="projects">
        <a href="{{page.personal_site_url}}/projects">projects</a>
        / <span class="project-name">{{page.project_name}}</span>
      </span>
    </div>

    <div class="project-pg-nav">
      <a href='/'>home</a>
      <a href='/docs.html'>full docs</a>
      <a href="http://github.com/coltonTB/{{page.project_name}}">view on github</a>
    </div>

    {{content}}

  </div>

  <div class="footer">
    &copy; 2015 Colton Brown
  </div>

  <script type="text/javascript" src="{{page.personal_site_url}}/prism/prism.js"></script>

</body>
</html>